# Node / Angular
node_modules/
dist/
.angular/
.npm
.cache/

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build Artifacts & Binaries
dist/
build/
backend-bin/
dist-packaged/
*.spec
bin/
obj/
